.nav-links li, a, .headerBtn {
    font-weight: 500;
    font-style: 16px;
    text-decoration: none;
    background: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: none;
}

.headerTitle {
    cursor: pointer;
    color: #ED6D6D;
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
    background: none;
}

.nav-links {
    list-style: none;
    background: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #541616;
}

.headerBtn {
    padding: 9px 25px;
    background-color: rgba(84,22,22, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.headerBtn:hover {
    background-color: rgba(84,22,22, 0.8);
}

nav, .icon
{
    background: none;
}